<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="Index" asp-controller="MasterRental">
                <i class="bi bi-grid"></i>
                <span>Rental</span>
            </a>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="Index" asp-controller="MasterUser">
                <i class="bx bxs-user"></i>
                <span>User</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="Index" asp-controller="MasterKendaraan">
                <i class="bx bxs-car"></i>
                <span>Car</span>
            </a>
        </li>
    </ul>

</aside><!-- End Sidebar-->