@model Models.Master.MasterKendaraanModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>MasterKendaraanModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Merek" class="control-label"></label>
                <input asp-for="Merek" class="form-control" />
                <span asp-validation-for="Merek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipe" class="control-label"></label>
                <input asp-for="Tipe" class="form-control" />
                <span asp-validation-for="Tipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
