@model Models.Master.MasterKendaraanModel

@{
    ViewData["Title"] = "Edit Car";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="pagetitle">
    <h1>Edit Car</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MasterKendaraan">Home</a></li>
            <li class="breadcrumb-item active">Edit Car</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Car</h5>

                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row mb-3">
                        <label asp-for="Merek" class="col-sm-2 col-form-label">Merek</label>
                        <div class="col-sm-10">
                            <input asp-for="Merek" class="form-control" required />
                            <span asp-validation-for="Merek" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Tipe" class="col-sm-2 col-form-label">Tipe</label>
                        <div class="col-sm-10">
                            <input asp-for="Tipe" class="form-control" required />
                            <span asp-validation-for="Tipe" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <input type="submit" value="Edit" class="btn btn-primary" />
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>

