<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Sewa Parkir</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by Sewa Parkir
    </div>
</footer><!-- End Footer -->